body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color:rgba(0, 255, 21, 0.466);;
}

p {
    font-size: 1em;
}

audio {
    width: 100%;
    padding-top: 2em;
}

audio:focus {
    outline: none;
}

footer {
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.8);
}

.lead {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 1em;
}

.content {
    margin: 1em 4em;
    width: 40em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .content {
        margin: 1em auto;
        width: 90%;
    }
}

.container {
    font-size: 18px;
    padding: 1em 1em;
}

.cover-image {
    width: 100%;
}

.credits {
    list-style: none;
}

.list-item {
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 1em;
}

.list-item:hover {
    color: rgb(0, 0, 0);
}